.seletor-para-algum-widget {
    box-sizing: content-box;
}

:root {
    --border-blog-header: #e5e5e5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.imgCarrosel1{
  width:600px;
   
}
.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

.blog-header {
    line-height: 1;
    border-bottom: 1px solid var(--border-blog-header);
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

h1 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.whapper_carrosel {
    display: flex;
    justify-content: center !important;

}


.hero-image {
    background-image: url(../img/fomepraca.jpg);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;


}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.logos::before,
.logos::after {
    content: '';
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}

.logos::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
}

.logos::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
}

.logos-slide {
    animation: 20s slide infinite linear;
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide img {
    height: 60px;
    margin: 0 50px;
}

@keyframes slide {
    from {
        transform: translateX(1);
    }

    to {
        transform: translateX(-90%);
    }
}




/* cadastro */
.box{
    margin-top: 6rem;
}


/* projeto social */

.semFome{
    margin-top: 4rem !important;
}

.strongeSem{
    margin-bottom: 2rem !important;
}