<main class="container">
    <section class="semFome">
        <div class="row">
            <div class="col-md-6">
                <div class="text-left">
                    <h3 class="text-danger">Junte-se a nossa causa.</h3>
                    <div class="lead">
                        <p class="mb-5">PO Lorem Ipsum é um texto modelo da indústria tipográfica e de
                            impressão. O Lorem
                            Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de
                            1500, quando uma misturou os caracteres de um texto para criar um espécime de
                            livro. Este texto não só sobreviveu 5 séculos, mas também o salto para a
                            tipografia electrónica, mantendo-se essencialmente inalterada. Foi popularizada
                            nos anos 60 com a disponibilização das folhas de Letraset, que continham
                            passagens com Lorem Ipsum, e mais recentemente com os programas de publicação
                            como o Aldus PageMaker que incluem versões do Lorem Ipsum.
                            Para que todos possam entender exatamente qual a missão<br>
                            nossa sede fica no&nbsp;endereço Rua qual quer 000 - qual
                            quer -
                            CEP 0000-00 - SÃO PAULO - SP. (novo endereço)
                        </p>

                        <p class="mb-5">
                            <strong>Telefone:<br>
                                (00) 0000000 – De segunda a domingo.<br>
                                Estamos de plantão todos os sábados, a partir das 08h00 horas.<br>
                                Desde já agradecemos sua intenção de colaborar com o nosso trabalho.
                            </strong>
                        </p>

                        <p class="text-info"><strong>Venha visitar-nos</strong></p>

                        <p>Se quiser ficar sempre sabendo de nossas novidades, informe abaixo o seu nome,
                            e-mail e se desejar deixe o seu número de whatsapp.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-6">

                <!-- formulario -->
                <form>
                    <div class="row mb-5">
                        <div class="form-group col-sm-6">
                            <label for="name">Nome</label>
                            <input type="text" aria-required="true" name="pnome" class="form-control"
                                placeholder="Informe o seu nome">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="email">E-mail</label>
                            <input type="email" aria-required="true" name="pemail" class="form-control"
                                placeholder="Informe o seu e-mail">
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="form-group col-sm-12">
                            <label>WhatsApp (Apenas números - DDD e celular)</label>
                            <input type="text" name="pwhatsapp" class="form-control"
                                placeholder="Informe o seu WhatsApp">
                        </div>
                    </div>

                    <!-- recaptcha -->
                    <div class="form-group">

                        <div class="g-recaptcha" data-sitekey="6LdW6rkUAAAAAMLEns_OMKLo7a0hWkG19L_dForU">

                            <iframe title="reCAPTCHA" role="presentation" name="a-dtbdf1fu25f9" frameborder="0"
                                scrolling="no"
                                sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation"
                                src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LdW6rkUAAAAAMLEns_OMKLo7a0hWkG19L_dForU&amp;co=aHR0cHM6Ly93d3cuYW5qb3NkYW5vaXRlLm9yZy5icjo0NDM.&amp;hl=pt-BR&amp;v=Hq4JZivTyQ7GP8Kt571Tzodj&amp;size=normal&amp;cb=aeq7quyk4mwi">
                            </iframe>
                        </div>


                    </div>
                    <!-- button inscricao -->
                    <button class="btn btn-default" type="submit" id="form-submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-send-arrow-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M15.854.146a.5.5 0 0 1 .11.54l-2.8 7a.5.5 0 1 1-.928-.372l1.895-4.738-7.494 7.494 1.376 2.162a.5.5 0 1 1-.844.537l-1.531-2.407L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM5.93 9.363l7.494-7.494L1.591 6.602z" />
                            <path fill-rule="evenodd"
                                d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-1.646a.5.5 0 0 1-.722-.016l-1.149-1.25a.5.5 0 1 1 .737-.676l.28.305V11a.5.5 0 0 1 1 0v1.793l.396-.397a.5.5 0 0 1 .708.708z" />
                        </svg>
                        &nbsp;Enviar sua Inscrição</button>
                </form>
                <br><br>

            </div>
        </div>

    </section>
</main>