<main class="container">

    <div class="semFome  mb-5">
        <div class="title semFome">
            <h2 class="text-center mb-4 text-info">
                <p>Alimentação e <strong>Segurança Alimentar</strong></p>
            </h2>
            <div class="">
                <h4 class="text-center text-danger">
                    <p>Conheça nossos projetos!</p>
                </h4>
            </div>
        </div>

        <section class="semFome container sem_fome">
            <div class="row">
                <h3 class="strongeSem text-danger">Sem Fome</h3>
                <div class="col-md-6 col-12">
                    <h4 class="mb-5">
                        <a class="nav-link" href="#">A maior campanha de solidariedade do Brasil</a>

                    </h4>
                    <p class="mb-2">O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O
                        Lorem
                        Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500,
                        quando
                        uma misturou os caracteres de um texto para criar um espécime de livro. Este texto não
                        só
                        sobreviveu 5 séculos, mas também o salto para a tipografia electrónica, mantendo-se
                        essencialmente inalterada. Foi popularizada nos anos 60 com a disponibilização das
                        folhas de
                        Letraset, que continham passagens com Lorem Ipsum, e mais recentemente com os programas
                        de
                        publicação como o Aldus PageMaker que incluem versões do Lorem Ipsum.</p>
                    <a href="#" class="text-info">Continue lendo</a>
                </div>
                <div class="col-md-6 col-12">
                    <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhvpZn8EQw-YsU-NXLGwaBVaJTsqynjE8Hkr78IXKwTKNPKVnP155LwIT3fzYvcj3TQE4lHD6xM0UtUeUdsop8z-ZQPNEuHx9uv5Gr-pyKuE27wQ2I4wp2GF-keJqTKg3pI0tkzqyqSqVz8rYOQ0W1yUKK2DU5UrprX4BXtmRbYyOsjJ7i5I51Kq6JE/s16000/favela-sem-fome.jpg" alt="image"style="width: 400px;">

                </div>
            </div>
        </section>
        <section class="semFome container horta">
            <div class="row">
                <h3 class="strongeSem text-danger">Hortas Comunitárias</h3>
                <div class="col-md-6 col-12">
                    <h4 class="mb-5">
                        <a class="nav-link" href="#">Contribuindo para a alimentação saudável e consciente</a>

                    </h4>
                    <p class="mb-2">O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O
                        Lorem
                        Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500,
                        quando
                        uma misturou os caracteres de um texto para criar um espécime de livro. Este texto não
                        só
                        sobreviveu 5 séculos, mas também o salto para a tipografia electrónica, mantendo-se
                        essencialmente inalterada. Foi popularizada nos anos 60 com a disponibilização das
                        folhas de
                        Letraset, que continham passagens com Lorem Ipsum, e mais recentemente com os programas
                        de
                        publicação como o Aldus PageMaker que incluem versões do Lorem Ipsum.</p>
                    <a href="#" class="text-info">Continue lendo</a>
                </div>
                <div class="col-md-6 col-12">
                    <img src="https://midias.correiobraziliense.com.br/_midias/jpg/2022/08/10/1200x800/1_horta_comunitaria-26210450.jpg?20220810201308?20220810201308" alt="image" style="width: 400px;">

                </div>
            </div>
        </section>
        <section class="semFome container distribuicao">
            <div class="row">
                <h3 class="strongeSem text-danger">Distribuição de doações</h3>
                <div class="col-md-6 col-12">
                    <h4 class="mb-5">
                        <a class="nav-link" href="#">Para comunidades carentas e tragédias naturais</a>

                    </h4>
                    <p class="mb-2">O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O
                        Lorem
                        Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500,
                        quando
                        uma misturou os caracteres de um texto para criar um espécime de livro. Este texto não
                        só
                        sobreviveu 5 séculos, mas também o salto para a tipografia electrónica, mantendo-se
                        essencialmente inalterada. Foi popularizada nos anos 60 com a disponibilização das
                        folhas de
                        Letraset, que continham passagens com Lorem Ipsum, e mais recentemente com os programas
                        de
                        publicação como o Aldus PageMaker que incluem versões do Lorem Ipsum.ß</p>
                    <a href="#" class="text-info">Continue lendo</a>
                </div>
                <div class="col-md-6 col-12">
                    <img src="https://www.aconteceempetropolis.com.br/wp-content/uploads/2022/03/central-de-arrecadacao.jpg" alt="image" style="width: 400px;">

                </div>
            </div>
        </section>

    </div>

</main>