<main class="container">
    <section class="oferecer margem_top">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="heading heading text-left">
                        <h3 class="title_teremos">Sempre teremos algo a oferecer e a receber</h3>
                        <span class="lead">
                            <p class="text_justify">Fundado por <strong class="text-info"> Felicia e
                                    Hackathon,</strong> o Núcleo
                                Assistencial <strong> Grandão</strong> realiza o
                                trabalho desde <strong>26 de Janeiro de 2024</strong>. É composto por
                                pessoas de todas as
                                idades, de várias denominações religiosas que voluntariamente doam, além do seu tempo,
                                alimentos, roupas, agasalhos, calçados, cobertores e principalmente amor. Uma simples
                                refeição, um agasalho e uma palavra amiga são os ferramentas fundamentais para
                                possibilitar o resgate da autoestima objetivando a sua reintegração social.</p>

                            <p class="text_justify">A carência dos recursos materiais das pessoas em situação de
                                rua não as tornam menos cidadãos. São eles que devem ter prioridade no senso de
                                fraternidade que propicia momentos de reflexão sobre os valores da vida, hoje tão
                                banalizada.</p>

                            <p class="text_justify">Nada mais é do que agir na
                                direção da solidariedade para a formação de um mundo mais justo e feliz, razão pela qual
                                o Grupo vivencia, entre outras, a seguinte premissa: <strong class="text-info">“Todos os
                                    Problemas são Problemas de Todos”</strong>.</p>

                            <p class="text_justify"><strong>Seja bem-vindo<br>
                                    <span style="font-size:16px">Sandra<br>
                                        Presidente</span></strong><br>
                                &nbsp;</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content_amar margem_top">
        <div class="call-to-action img_noite-fria container">
            <div class="container">
                <div class="col-md-10 container">
                    <h3 class="text-light p-3">Porque <span>Amar</span> é preciso ! Faça parte da nossa Missão.</h3>
                    <p class="text-light">Sempre teremos algo a oferecer e receber.</p>
                </div>
                <div class="col-md-2 mb-3">
                    <a class="btn btn-light btn-outline" href="/doar">Doe Agora !</a>
                </div>
            </div>
        </div>
    </section>

    <section class="endereco margem_top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h1 class="title_local_atuacao">Local de Atuação</h1>
                    <p>Todos os dias distribuímos em média 000 cestas basica na Região ..........
                        ....................... (próximo ao 00000000000000) e
                        mediações.<br>
                        Também na Região .........................................
                        Clique nos mapas para visualizar os locais e rotas no Google Maps.
                    </p>
                </div>

                <div class="col-md-4">
                    <a
                        href="https://maps.google.com/maps?ll=-23.538177,-46.630734&amp;z=14&amp;t=m&amp;hl=pt&amp;gl=US&amp;mapclient=embed&amp;q=Rua%20Carlos%20de%20Sousa%20Nazar%C3%A9%20-%20Centro%20Hist%C3%B3rico%20de%20S%C3%A3o%20Paulo%20S%C3%A3o%20Paulo%20-%20SP">
                        <img class="img-responsive img-rounded img_mapa"
                            src="https://www.anjosdanoite.org.br/imagens/mapa1.jpg" alt="mapa"></a>
                </div>
                <div class="col-md-4">
                    <a
                        href="https://www.google.com/maps/place/S%C3%A3o+Paulo,+SP,+Brasil/@-23.6811631,-47.2191384,10z/data=!3m1!4b1!4m15!1m8!3m7!1s0x94ce58f89151b4c1:0x3e0aca2de2223d0a!2sRua+Carlos+de+Sousa+Nazar%C3%A9+-+Centro+Hist%C3%B3rico+de+S%C3%A3o+Paulo,+S%C3%A3o+Paulo+-+SP,+Brasil!3b1!8m2!3d-23.5404144!4d-46.6311239!16s%2Fg%2F1ymtpdz1w!3m5!1s0x94ce448183a461d1:0x9ba94b08ff335bae!8m2!3d-23.5557714!4d-46.6395571!16zL20vMDIycGZt?hl=pt&entry=ttu">
                        <img class="img-responsive img-rounded img_mapa"
                            src="https://www.anjosdanoite.org.br/imagens/mapa1.jpg" alt="mapa"></a>
                </div>
            </div>
        </div>
    </section>

    <section class="margem_top section_slider">
        <div class="container">
            <div id="slider">
                <div class="slides">
                    <div class="slider">
                        <div class="legend"></div>
                        <div class="content">
                            <div class="content-txt">
                                <h1>Lorem Ipsum</h1>
                                <h2>orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet neque eget
                                    vehicula feugiat. Nam vulputate ullamcorper justo, congue tincidunt velit. In sed
                                    tincidunt neque. Duis et magna odio. Phasellus commodo fermentum pretium.
                                    Suspendisse
                                    sit amet nunc quam. Sed eget vulputate massa, et egestas massa. Fusce quis pharetra
                                    libero, a pulvinar risus</h2>
                            </div>
                        </div>
                        <div class="image">
                            <img
                                src="https://s3.amazonaws.com/ibc-portal/wp-content/uploads/2021/05/11134513/solidariedade-importancia.jpg">
                        </div>
                    </div>
                    <div class="slider">
                        <div class="legend"></div>
                        <div class="content">
                            <div class="content-txt">
                                <h1>Lorem Ipsum</h1>
                                <h2>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae
                                    vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices
                                    vel
                                    nibh.</h2>
                            </div>
                        </div>
                        <div class="image">
                            <img
                                src="https://www.diariodepernambuco.com.br/dpimages/v13C9h10zs_QgAetXI6uQO94WQA=/960x0/smart/imgsapp.diariodepernambuco.com.br/app/noticia_127983242361/2024/05/01/951796/20240430204428268629u.jpeg">
                        </div>
                    </div>
                    <div class="slider">
                        <div class="legend"></div>
                        <div class="content">
                            <div class="content-txt">
                                <h1>Lorem Ipsum</h1>
                                <h2>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae
                                    vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices
                                    vel
                                    nibh.</h2>
                            </div>
                        </div>
                        <div class="image">
                            <img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGV8gOndPjoTzXuOpwkIDMQ--lS_yayGuQOcmcKIOzsQ&s">
                        </div>
                    </div>
                    <div class="slider">
                        <div class="legend"></div>
                        <div class="content">
                            <div class="content-txt">
                                <h1>Lorem Ipsum</h1>
                                <h2>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae
                                    vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices
                                    vel
                                    nibh.</h2>
                            </div>
                        </div>
                        <div class="image">
                            <img src="https://cdn.brasildefato.com.br/media/bc4173ed96937a3f635904f310ef5b03.jpeg">
                        </div>
                    </div>
                </div>
                <div class="switch">
                    <ul>
                        <li>
                            <div class="on"></div>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>

    </section>


</main>